body {
	display: flex;
	flex-direction: column;
	background-color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

h2 {
	font-family: 'Lora', serif;
	font-size: 40px;
	text-transform: uppercase;
	align-self: center;
}

h3 {
	font-family: 'Lora', serif;
	font-size: 30px;
}

a, span, h2, h3, legend {
	white-space: nowrap;
}

i {
	color: #ceb475 !important;
	margin-right: 15px;
}

.wrapper {
	padding: 0 20.3125%;
}

.page-header {
	display: flex;
	flex-direction: column;
	height: 960px;
	background-image: url(../img/page-header-background.jpg);
	background-size: cover;
    background-position: 75% 100%;
	color: white;
}

.navigation {
	width: 100%;
	z-index: 100;
}

.header-top {
	background-color: rgb(21, 23, 31);
}

.header-top .wrapper {
	font-family: 'Lora', serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
}

.header-top .logo {
	color: #ceb475;
	font-size: 34px;
}

.header-menu {
	background-color: rgba(21, 23, 31, 0.6);
}

.header-menu .wrapper nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 52px;
}

.header-menu .wrapper nav i {
	display: none;
}

.header-menu .wrapper nav ul {
	display: none;
}

.header-menu .callback {
	white-space: normal;
	text-align: center;
	border: 1px solid #ceb475;
	border-radius: 4px;
	padding: 10px 19px;
}

.page-header h1 {
	font-family: 'Lora', serif;
	font-size: 97px;
	color: #ceb475;
	margin-top: 240px;
	margin-bottom: 40px;
	white-space: nowrap;
}

.page-header h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	text-transform: none;
}

.page-header button {
	border: none;
	border-radius: 5px;
	width: 458px;
	height: 76px;
	background-color: #ceb475;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: black;
	margin-top: 40px;
}

.page-practice .wrapper {
	display: flex;
	flex-direction: column;
	height: 708px;
	color: black;
}

.page-practice h2 {
	position: relative;
	margin-top: 130px;
	margin-bottom: 90px;
}

.page-practice h2:before {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: -88px;
}

.page-practice h2:after {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: 455px;
}

.page-practice i {
	margin-right: 0;
}

.page-practice .practice-list {
	display: flex;
	justify-content: space-around;
}

.page-practice .practice-list .list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
}

.page-practice .practice-list div:last-child {
	margin-right: 0;
}

.page-practice .practice-list .list h3 {
	margin-top: 55px;
	margin-bottom: 45px;
	font-size: 26px;
}

.page-practice .practice-list .list p {
	width: 235px;
} 

.page-about {
	background-image: url(../img/page-about-background.jpg);
	background-size: cover;
    background-position: 25% 100%;
}

.page-about .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 709px;
	color: white;
	padding: 0 25.416666666666666666666666666667%;
}

.page-about h2 {
	position: relative;
	margin-top: 100px;
	margin-bottom: 75px;
}

.page-about h2:before {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: -88px;
}

.page-about h2:after {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: 160px;
}

.page-about h3 {
	color: #ceb475;
}

.page-about p:first-of-type {
	margin-top: 50px;
	margin-bottom: 55px;
}

.page-statistics .wrapper {
	display: flex;
	flex-direction: column;
	height: 441px;
	color: black;
}

.page-statistics h2 {
	position: relative;
	margin-top: 95px;
	margin-bottom: 100px;
}

.page-statistics h2:before {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: -88px;
}

.page-statistics h2:after {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: 630px;
}

.page-statistics .statistics-list {
	display: flex;
	justify-content: center;
}

.page-statistics .statistics-list div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 50px;
}

.page-statistics .statistics-list div h4 {
	transform: translateX(8px);
	font-family: 'Lora', serif;
	font-size: 70px;
	margin-bottom: 50px;
	color: #ceb475;
}

.page-statistics .statistics-list div p {
	font-family: 'Lora', serif;
	font-size: 30px;
	white-space: nowrap;
}

.page-cases {
	background-image: url(../img/page-cases-background.jpg);
}

.page-cases .wrapper {
	display: flex;
	flex-direction: column;
	height: 960px;
	color: white;
}

.page-cases h2 {
	position: relative;
	margin-top: 105px;
	margin-bottom: 75px;
}

.page-cases h2:before {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: -88px;
}

.page-cases h2:after {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: 470px;
}

.page-cases .cases-list {
	display: flex;
	justify-content: space-between;
	height: 615px;
}

.page-cases .arrow-left {
	align-self: center;
	border: 26px solid transparent; 
	border-right: 26px solid #ceb475; 
}

.page-cases .arrow-right {
	align-self: center;
	border: 26px solid transparent; 
	border-left: 26px solid #ceb475; 
}

.page-cases .list-content {
	display: flex;
	flex-direction: column;
}

.page-cases .content-component {
	display: flex;
	margin-left: 7.03125%;
	margin-right: 3.645833333333333333333333333333%;
	margin-bottom: 70px;
	height: 265px;
}

.page-cases .list-content div:last-child {
	margin-bottom: 0;
}

.page-cases .content-component img {
	align-self: flex-end;
	transform: translateY(25px);
}

.page-cases .content-component h3 {
	text-transform: uppercase;
	color: #ceb475;
	text-align: center;
	margin-bottom: 45px;
}

.page-cases .component-description {
	margin-left: 40px;
}

.page-cases ul {
	align-self: center;
	margin-top: 65px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.page-cases li {
	position: relative;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 2px;
	background: #ceb475;
	margin: 11px;
}

.page-cases li a {
	transform: translate(-4px, -4px);
	position: absolute;
	width: 12px;
	height: 12px;
	background: transparent;
}

.page-cases li .active {
	border: 1px solid #ceb475;
	border-radius: 50%;
}

.page-important .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 960px;
	color: black;
	padding: 0 25.416666666666666666666666666667%;
}

.page-important h2 {
	position: relative;
	margin-top: 85px;
	margin-bottom: 55px;
}

.page-important h2:before {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: -88px;
}

.page-important h2:after {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: 510px;
}

.page-important h3 {
	text-transform: uppercase;
}

.page-important p {
	margin-top: 35px;
	margin-bottom: 100px
}

.page-important p:last-child {
	margin-bottom: 0;
}

.page-contacts {
	background-image: url(../img/page-contacts-background.jpg);
}

.page-contacts .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 960px;
	color: white;
	padding: 0 25.416666666666666666666666666667%;
}

.page-contacts h2 {
	position: relative;
	margin-top: 85px;
	margin-bottom: 63px;
}

.page-contacts h2:before {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: -88px;
}

.page-contacts h2:after {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
    left: 260px;
}

.page-contacts h3 {
	align-self: center;
}

.page-contacts .table {
	font-family: 'Lora', serif;
	font-size: 30px;
	display: table;
	margin-top: 55px;
	margin-bottom: 80px;
}

.page-contacts .table-row {
	display: table-row;
	height: 50px;
}

.page-contacts .table-row p {
	display: table-cell;
	white-space: nowrap;
}

.page-contacts .table-row p:first-child {
	width: 75%;
	padding-right: 25px;
}

.page-contacts form {
	font-family: 'Lora', serif;
	font-size: 30px;
}

.page-contacts form legend {
	text-align: center;
	margin-bottom: 55px;
}

.page-contacts form fieldset {
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin-bottom: 45px;
}

.page-contacts form input {
	width: 30%;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	padding-left: 20px;
}

.page-contacts form textarea {
	font-family: 'Lora', serif;
	font-size: 30px;
	width: 935px;
	height: 183px;
	resize: none;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 35px;
}

.page-contacts form input[type="submit"] {
	font-size: 30px;
	width: 290px;
	height: 53px;
	background-color: #ceb475;
	border: none;
	color: black;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-footer {
	background-color: #15171f;
}

.page-footer .wrapper {
	padding: 0 25.416666666666666666666666666667%;
}

.page-footer .wrapper nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	color: white;
	text-align: center;
}

.page-footer .callback {
	border: 1px solid #ceb475;
	border-radius: 4px;
	padding: 10px 19px;
}