* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

ol, ul {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	background-color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	letter-spacing: -0.025em;
}

h2 {
	font-family: 'Lora', serif;
	font-size: 40px;
	text-transform: uppercase;
	align-self: center;
	font-weight: normal;
}

h2:after,
h2:before {
    display: block;
    width: 51px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ceb475;
    top: 50%;
}

h3 {
	font-family: 'Lora', serif;
	font-size: 30px;
	font-weight: normal;
}

h4 {
	font-weight: normal;
}

a, span, h2, h3, legend {
	white-space: nowrap;
}

i {
	color: #ceb475;
	margin-right: 15px;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.page-header {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
	z-index: 2;
}

.page-header .header-top {
	background-color: rgb(21, 23, 31);
}

.page-header .header-top .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	font-family: 'Lora', serif;
}

.page-header .header-top .logo {
	color: #ceb475;
	font-size: 34px;
}

.page-header .header-menu {
	background-color: rgba(21, 23, 31, 0.6);
}

.page-header .header-menu .wrapper {
	height: 52px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-header .header-menu .wrapper i {
	display: none;
	align-self: center;
	cursor: pointer;
}

.page-header .header-menu .wrapper ul {
	display: none;
}

.page-header .header-menu .wrapper nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 52px;
}

.page-header .header-menu .callback {
	white-space: normal;
	border: 1px solid #ceb475;
	border-radius: 4px;
	padding: 7px 20px;
}

.page-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 960px;
	background-image: url(../img/page-header-background.jpg);
	background-size: cover;
    background-position: 75% 100%;
	color: white;
}

.page-main h1 {
	font-family: 'Lora', serif;
	font-size: 97px;
	color: #ceb475;
	white-space: nowrap;
	font-weight: normal;
}

.page-main h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	text-transform: none;
}

.page-main h2:after,
.page-main h2:before{
    display: none;
}

.page-main button {
	border-radius: 5px;
	width: 458px;
	height: 76px;
	background-color: #ceb475;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: black;
	margin-top: 40px;
	cursor: pointer;
}

.page-practice .wrapper {
	display: flex;
	flex-direction: column;
	height: 708px;
	color: black;
}

.page-practice h2 {
	position: relative;
	margin-top: 110px;
	margin-bottom: 90px;
}

.page-practice h2:before {
    left: -88px;
}

.page-practice h2:after {
    left: 455px;
}

.page-practice i {
	margin-right: 0;
}

.page-practice .practice-list {
	display: flex;
	justify-content: space-around;
}

.page-practice .practice-list div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 360px;
}

.page-practice .practice-list div h3 {
	font-size: 26px;
}

.page-practice .practice-list div p {
	width: 225px;
}

.page-about {
	background-image: url(../img/page-about-background.jpg);
	background-size: cover;
    background-position: 25% 100%;
}

.page-about .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 709px;
	color: white;
}

.page-about h2 {
	position: relative;
	margin-top: 105px;
	margin-bottom: 50px;
}

.page-about h2:before {
    left: -88px;
}

.page-about h2:after {
    left: 160px;
}

.page-about .about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.page-about h3 {
	color: #ceb475;
	margin-bottom: 50px;
	white-space: normal;
	text-align: center;
}

.page-about p {
	margin-bottom: 50px;
}

.page-statistics .wrapper {
	display: flex;
	flex-direction: column;
	height: 441px;
	width: 810px;
	color: black;
}

.page-statistics h2 {
	position: relative;
	margin-top: 80px;
	margin-bottom: 80px;
}

.page-statistics h2:before {
    left: -88px;
}

.page-statistics h2:after {
    left: 630px;
}

.page-statistics .statistics-list {
	display: flex;
	justify-content: space-between;
	font-family: 'Lora', serif;
}

.page-statistics .statistics-list div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 160px;
}

.page-statistics .statistics-list h4 {
	font-size: 70px;
	color: #ceb475;
	transform: translateX(8px);
}

.page-statistics .statistics-list p {
	font-size: 30px;
	white-space: nowrap;
}

.page-cases {
	background-image: url(../img/page-cases-background.jpg);
	background-size: cover;
    background-position: 50% 100%;
}

.page-cases .wrapper {
	display: flex;
	flex-direction: column;
	height: 960px;
	color: white;
}

.page-cases h2 {
	position: relative;
	margin-top: 90px;
	margin-bottom: 75px;
}

.page-cases h2:before {
    left: -88px;
}

.page-cases h2:after {
    left: 470px;
}

.page-cases .cases-carousel {
	display: flex;
	height: 615px;
}

.page-cases .arrow-left {
	align-self: center;
	border: 26px solid transparent; 
	border-right: 26px solid #ceb475;
	margin-right: 70px;
}

.page-cases .arrow-right {
	align-self: center;
	border: 26px solid transparent; 
	border-left: 26px solid #ceb475; 
	margin-left: 70px;
}

.page-cases .cases-content {
	display: flex;
	position: relative;
	overflow: hidden;
	align-items: center;
	width: 100%;
}

.page-cases .cases-content .content-component {
	left: 1500px;
	display: flex;
	position: absolute;
	transition-property: none;
	transition-duration: 0.5s;
	width: 100%;
}

.page-cases .cases-content .content-component:last-of-type {
	left: -1500px;
}

.page-cases .cases-content .content-component.active {
	left: 0;
}

.page-cases .component-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 40px;
}

.page-cases .content-component h3 {
	text-transform: uppercase;
	color: #ceb475;
	margin-bottom: 35px;
}

.page-cases ul {
	align-self: center;
	margin-top: 50px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.page-cases li {
	position: relative;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 2px;
	background: #ceb475;
	margin: 11px;
	cursor: pointer;
}

.page-cases li a {
	transform: translate(-3px, -3px);
	position: absolute;
	width: 12px;
	height: 12px;
	background: transparent;
}

.page-cases li.active a {
	border: 1px solid #ceb475;
	border-radius: 50%;
}

.page-important .wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 945px;
	color: black;
}

.page-important h2 {
	position: relative;
	margin-top: 90px;
	margin-bottom: 60px;
}

.page-important h2:before {
    left: -88px;
}

.page-important h2:after {
    left: 510px;
}

.page-important .important-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-important .important-content h3 {
	text-transform: uppercase;
	margin-bottom: 50px;
}

.page-important .important-content p {
	margin-bottom: 50px;
}

.page-contacts {
	background-image: url(../img/page-contacts-background.jpg);
	background-size: cover;
    background-position: 25% 100%;
}

.page-contacts .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 960px;
	width: 945px;
	color: white;
}

.page-contacts h2 {
	position: relative;
	margin-top: 50px;
}

.page-contacts h2:before {
    left: -88px;
}

.page-contacts h2:after {
    left: 260px;
}

.page-contacts .contacts-info {
	font-family: 'Lora', serif;
	font-size: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-contacts .contacts-info p {
	width: 585px;
	margin-bottom: 20px;
}

.page-contacts .contacts-info p:nth-child(even) {
	width: 360px;
}

.page-contacts form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Lora', serif;
	font-size: 30px;
	height: 465px;
	width: 100%;
}

.page-contacts form legend {
	text-align: center;
}

.page-contacts form div {
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.page-contacts form input {
	width: 30%;
	height: 50px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	padding-left: 20px;
}

.page-contacts form textarea {
	font-family: 'Lora', serif;
	font-size: 20px;
	height: 185px;
	resize: none;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
}

.page-contacts form input[type="submit"] {
	font-size: 30px;
	width: 290px;
	height: 53px;
	background-color: #ceb475;
	border: none;
	color: black;
    cursor: pointer;
    align-self: center;
    padding-left: 0;
}

.page-footer {
	background-color: #15171f;
}

.page-footer .wrapper {
	width: 945px;
	color: white;
}

.page-footer .wrapper nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	height: 100px;
}

.page-footer .callback {
	border: 1px solid #ceb475;
	border-radius: 4px;
	padding: 10px 19px;
}

#modal_form {
	width: 750px; 
	height: 410px;
	border-radius: 5px;
	background: rgb(21, 23, 31);;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -205px;
	margin-left: -375px;
	display: none;
	opacity: 0;
	z-index: 5;
	padding: 20px 10px;
}

#modal_form #modal_close {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	display: block;
	margin: 0;
}

#overlay {
	z-index: 3;
	position: fixed;
	background-color: rgb(21, 23, 31);
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
	width: 100%; 
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

#modal_form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modal_form form input[type="submit"] {
	font-size: 30px;
	width: 290px;
	height: 53px;
	background-color: #ceb475;
	border: none;
	color: black;
	display: block;
    cursor: pointer;
}

#modal_form form input {
	width: 290px;
	height: 53px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	padding-left: 20px;
	margin-bottom: 40px;
}

#modal_form form legend {
	display: inline-block;
	text-align: center;
	height: 60px;
	color: white;
	font-size: 30px;
	white-space: normal;
	margin: 80px 110px 50px 110px;
}