@media (max-width: 1250px) {
	.wrapper {
		width: 960px !important;
	}
}

@media (max-width: 1000px) {
	.wrapper {
		width: 720px !important;
	}

	.page-practice .wrapper{
		height: auto;
	}

	.page-practice .practice-list {
		flex-wrap: wrap;
		margin-bottom: 80px;
	}

	.page-practice .practice-list div {
		width: 50%;
		margin-bottom: 40px;
	}

	.page-about .wrapper{
		height: auto;
	}

	.page-cases .arrow-left, .arrow-right {
		display: none;
	}

	.page-contacts .contacts-info p {
		width: 400px;
	}

	.page-contacts .contacts-info p:nth-child(even) {
		width: 320px;
	}

	.page-footer .wrapper nav {
		flex-wrap: wrap;
		height: 200px;
	} 

	.page-footer .wrapper nav a {
		width: 30%;
	} 

	.page-footer .wrapper nav a.callback {
		width: 100%;
	}
}

@media (max-width: 790px) {
	.wrapper {
		width: 540px !important;
	}

	h2:after,
	h2:before {
	    display: none;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	.page-header .header-top {
		display: none;
	}

	.page-header .header-menu .wrapper i {
		display: inline-block;
	}

	.page-header .header-menu .wrapper {
		position: relative;
	}

	.page-header .header-menu .wrapper nav {
		display: none;
	}

	.page-header .header-menu .wrapper ul {
		position: absolute;
		flex-direction: column;
		top: 52px;
		width: 100%;
		background-color: rgba(21, 23, 31, 0.6);
		height: auto;
	}

	.page-header .header-menu .wrapper ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		margin-bottom: 20px;
	}

	.page-main h1 {
		font-size: 60px;
	}

	.page-main h2 {
		font-size: 36px;
	}

	.page-statistics .wrapper {
		height: auto;
	}

	.page-statistics .statistics-list {
		flex-direction: column;
		margin-bottom: 50px;
	}

	.page-statistics .statistics-list div {
		margin-bottom: 50px;
	}

	.page-contacts .contacts-info {
		flex-direction: column;
		font-size: 20px;
	}

	.page-contacts .contacts-info p {
		width: 100%;
		text-align: center;
	}

	.page-contacts form legend {
		white-space: normal;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.page-contacts form div {
		flex-direction: column;
		height: auto;
	}

	.page-contacts form input {
		width: 100%;
		margin-bottom: 10px;
	}

	.page-contacts form textarea {
		margin-bottom: 20px;
	}

	.page-contacts form input[type="submit"] {
		font-size: 30px;
		width: 100%;
	}
}

#modal_form {
	width: 500px; 
	margin-left: -250px;
}

#modal_form form legend {
	font-size: 20px;
}

@media (max-width: 570px) {

	.wrapper {
		width: auto !important;
		margin: 0 10px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 16px;
	}

	p {
		font-size: 16px;
	}

	.page-main h1 {
		font-size: 36px;
		margin-bottom: 10px;
	}

	.page-main h2 {
		white-space: normal;
		font-size: 20px;
	}

	.page-main button {
		width: 100%;
		font-size: 20px;
	}

	.page-practice .practice-list {
		flex-direction: column;
	}

	.page-practice .practice-list div {
		width: 100%;
	}

	.page-statistics h2 {
		white-space: normal;
		text-align: center;
	}

	.page-cases .content-component {
		flex-direction: column;
	}

	.page-cases .content-component img {
		display: none;
	}

	.page-cases .content-component .component-description {
		margin: 0;
	}

	.page-contacts .contacts-info p {
		width: 100% !important;
	}

	.page-contacts form legend {
		font-size: 16px;
	}

	.page-contacts form input {
		font-size: 16px;
	}

	.page-contacts form textarea {
		font-size: 16px;
	}

	.page-contacts form input[type="submit"] {
		font-size: 20px;
	}

	.page-footer .wrapper nav {
		flex-direction: column;
		height: auto;
	}

	.page-footer .wrapper nav a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 50px;
		width: 100%
	}

	#modal_form {
		width: 250px;
		margin-left: -125px;
	}

	#modal_form form legend {
		font-size: 16px;
		width: 100%;
	}

	#modal_form form input {
		width: 100%;
	}

	#modal_form form input[type="submit"] {
		width: 100%;
		padding: 0;
	}
}