@media (max-width: 1300px) {

	.wrapper {
		padding: 0 5% !important;
	}

	.page-practice {
		height: 1080px;
	}

	.page-practice .practice-list {
		flex-wrap: wrap;
	}

	.page-practice .practice-list .list {
		width: 40%;
		margin-right: 0;
		margin-bottom: 40px;
	}
}

@media (max-width: 800px) {

	.header-top .wrapper {
		flex-direction: column;
		justify-content: space-around;
		height: 120px;
	}

	.header-top .wrapper .logo {
		order: -1;
	}

	.header-menu .wrapper nav > a {
		display: none;
	}

	.header-menu .wrapper nav i {
		display: inline-block;
		margin: 0 auto;
	}

	.header-menu .wrapper nav ul {
		position: absolute;
		top: 52px;
		flex-direction: column;
		align-items: center;
		background-color: rgba(21, 23, 31, 0.6);
		width: 100%;

	}

	.header-menu .wrapper nav ul li {
		height: 52px;
	}

	.page-header h1 {
		margin-top: 100px !important;
		font-size: 50px !important;
	}

	.page-header h2 {
		font-size: 30px !important;
	}

	.page-header button {
		width: 320px;
		height: 53px;
		font-size: 20px;
	}

	.page-practice {
		height: 1850px;
	}

	.page-practice .practice-list .list {
		width: 90%;
	}

	.page-practice h2:after, .page-practice h2:before {
		display: none;
	}
}

@media (max-width: 480px) {

	.page-header h1 {
		text-align: center !important;
		margin-top: 50px !important;
		font-size: 35px !important;
	}

	.page-header h2 {
		text-align: center !important;
		font-size: 18px !important;
	}

	.page-header button {
		width: 250px;
		height: 53px;
		font-size: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.page-practice h2 {
		margin-top: 100px;
		font-size: 25px;
	}
}